.card-task {
   height: 200px;
   width: 300px;
   border-radius: 10px;
   background: #FFF;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   box-shadow: 0px 0px 17.6px 0px rgba(0, 0, 0, 0.25);
   overflow: hidden;
   transition: .5s;

   .title-view {
      display: flex;
      justify-content: start;
      gap: 5%;

      .date {
         height: 40px;
         min-width: 100px;
         border-radius: 0px 40px 40px 0px;
         background: #473AF4;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;
         color: #FFF;
      }

      h1 {
         color: #606060;
         font-size: 22px;
      }
   }

   .preview-task {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0px 20px;

      p {
         color: #606060;
         font-weight: 700;
      }
   }

}

.card-task:hover{
   box-shadow: 0px 0px 17.6px 0px #463af476;
   transform: scale(1.05);
}

.card-container{
   transition: .5s;
}

.modal-task{
   height: 50vh;
   width: 50vh;
   background-color: #f8f8f8;
   border-radius: 10px;
   position: absolute;
   transform: translate(-50% , -50%);
   left: 50%;
   top: 50%;
   z-index: 10000;
   box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.393);

   .top-container{
      display: flex;
      justify-content: space-between;
      
      .date {
         height: 40px;
         width: 100px;
         border-radius: 0px 40px 40px 0px;
         background: #473AF4;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;
         color: #FFF;
      }

      .title{
         width: 20%;
         display: flex;
         justify-content: start;
         align-items: center;

         h1 {
            color: #606060;
            font-size: 22px;
         }   
      }
     
      button{
         background: transparent;
      }
   }
}